parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true